In [1]:
import pandas

In [2]:
search_data = pandas.read_csv('searchtimeline.csv')

In [3]:
stock_data = pandas.read_csv('stockPrices.csv')

In [4]:
stock_data.head()

   12/12/1980   0.425  0.4268  0.425.1  0.425.2  117258400
0  12/15/1980  0.4047  0.4047   0.4028   0.4028   43971200
1  12/16/1980  0.3751  0.3751   0.3733   0.3733   26432000
2  12/17/1980  0.3825  0.3843   0.3825   0.3825   21610400
3  12/18/1980  0.3936  0.3954   0.3936   0.3936   18362400
4  12/19/1980  0.4176  0.4195   0.4176   0.4176   12157600

In [5]:
stock_data = stock_data.rename(columns={'12/12/1980': 'Date', '0.425': 'Price'})

In [6]:
stock_data.drop(stock_data.columns[[2,3, 4,5]], axis=1, inplace=True)

In [7]:
stock_data.head()

         Date   Price
0  12/15/1980  0.4047
1  12/16/1980  0.3751
2  12/17/1980  0.3825
3  12/18/1980  0.3936
4  12/19/1980  0.4176

In [8]:
stock_data.columns

Index([u'Date', u'Price'], dtype='object')

In [9]:
stock_data['Date'] = pandas.to_datetime(stock_data['Date'])

In [11]:
stock_data.to_csv("final_stock_prices.csv")